.container {
    display:grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 100px 50px 50px repeat(19, 100px);
    background-color: lightslategray;
}

.picture {
    grid-row: 3/6;
    grid-column: 3/6;
    
}

.person-CV {
    grid-column: 8/19;
    grid-row: 3/7;
}
.person-CV__ul {
    width: 300px;
    height: 300px;
}

.allId {
    grid-row: 8/-1;
    grid-column: 3/19;
}